__pycache__/
*.pyc

data/processed/*
!data/processed/processed_data.npz
!data/processed/feature_cols.csv

ensemble_model/*
!ensemble_model/ensemble_model.pkl
!ensemble_model/binner.pkl
!ensemble_model/propensity_model.pkl

results/*
